body
{
    color: deeppink;
    text-align: center;
    font-family: "Arial";
}

text
{

    color: fuchsia;
}

/* Esto tiene que pasar solo por la cabecera y despues con el merge tiene que entrar al master */